
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel{
    padding: 1rem;
    box-sizing: border-box;
    width: 800px;
}

.carousel-inner{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.carousel-inner .carousel-caption{
    color: #fff;
}

.article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.col-md-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-card-items{
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    padding: 0.5rem;
    max-height: 375px;
    width: 300px;
}

.card-img{
    height: 11rem;
    width: 100%;
}

.card-img-item{
    height: 100%;
    width: 100%;
}

.card-body a {
    color: #000;
}

.card-body a:hover {
    color: blue;
    text-decoration: none;
}

