.navbar{
    background-color: #041444;
    padding: 0.5rem;
}

.navbar-logo{
    width: 6rem;
}

.profile{
    width: 3rem;
    height: 3rem;
    /* border: 1px solid #fff; */
    margin-left: 2rem;
}